.container-fluid {
    margin-top: 30px;
}

.one {
    border: 1px solid red;

    margin: 0 10px 0 10px
}

.two{
    border: 1px solid green;
    
}

.three {
    border: 1px solid orange;
    margin: 0 10px 0 10px

}